html {
	scroll-behavior: smooth;
}
.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}
.main {
	background-color: white;
	margin: 3%;
	margin-top: 100px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
}
h1 {
	text-transform: capitalize;
}
section {
	overflow: hidden;
	background-color: red;
	border: 2px solid blue;
	margin: 15px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.sections {
	overflow: hidden;
	background-color: tomato;
	border: 2px solid green;
	border-style: dotted;
	border-top-left-radius: 40px;
	border-top-right-radius: 80px;
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 0px;
}
.sections p {
	background-color: blue;
	width: 90%;
}
figure {
	padding: none;
	width: 90%;
	text-align: center;
	background-color: green;
}
figure img {
	width: 50%;
	opacity: 0.7;
}
figcaption {
	background-color: blue;
	color: red;
	text-align: center;
}
.loremus {
	text-align: center;
	opacity: 0.7;
	position: relative;
}
.dipaso {
	position: absolute;
	top: 70px;
	left: 200px;
	font-size: 20px;
}
.loremus img {
	opacity: 0.5;
}
