div.form-container {
    background-color: antiquewhite;
    border: black solid 1px;
    width: 70%;
    margin: auto;
    margin-top: 25vh;
}
div.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 20vw;
  margin: 1vh;
  border-radius: 15%;
}
.form-content input{
    padding: 5px;
    margin: 5px;
}
.form-content.button {
  width: fit-content;
  margin: auto;
  margin-top: 2vh;
  padding: 10px;
}
.request-content {
  margin: 2vh;
  width: 30vw;
}
