footer {
	margin-top: 20px;
	background-color: rgb(60, 186, 190);
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	padding: 20px;
	border-radius: 20px;
}
footer a {
	color: yellow;
}
footer p {
	text-transform: lowercase;
	color: red;
}
footer b {
	text-transform: capitalize;
	color: black;
}
